body, html {
  color: #4d4d4d;
  background-color: #fff;
  width: auto !important;
  overflow-x: hidden !important;
  font-family: Roboto Condensed; }

p {
  font-size: 1.05rem;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px; }

span {
  color: #4d4d4d; }

a {
  color: #455a64; }
  a:hover {
    color: #607d8b; }

h1 {
  font-size: 2.35rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

h2 {
  font-size: 2.25rem;
  text-align: center; }

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

h4 {
  font-size: 1.75rem;
  text-align: center; }

h5 {
  font-size: 1.5rem;
  text-align: center; }

h6 {
  font-size: 1.25rem;
  text-align: center;
  color: #607d8b; }

img {
  margin: auto;
  transition-duration: 500ms; }

.btn {
  margin: 10px; }

.row {
  margin: 0; }

nav .brand-logo {
  margin-left: 10px; }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #37474f; }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #455a64; }

.description p {
  text-align: center;
  margin: 0; }

.details {
  text-align: center;
  padding: 5px; }

.icons-details {
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  padding: 10px; }

.material-icons {
  display: flex; }

.link-details {
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  font-size: 18px; }

.image-details {
  height: 100px;
  width: 100px;
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  padding: 10px; }

.content-details {
  width: 32%;
  padding-top: 10px;
  padding-bottom: 10px; }

.logo {
  padding-top: 10px;
  height: 45px;
  width: 160px; }

.fullbanner {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center; }

.portfolio {
  margin: 0;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px; }

.about {
  padding-top: 40px;
  padding-bottom: 40px; }

.image-about {
  height: 175px;
  width: 175px;
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  padding: 10px; }

.contact {
  padding-top: 25px;
  padding-bottom: 25px; }

.links-footer {
  margin-top: 10px;
  margin-bottom: 10px; }

.footer-icons img {
  height: 35px;
  width: 35px;
  margin: 5px; }

.copyright p {
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center; }

.page-footer .footer-copyright {
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center; }

.responsive-img {
  height: 150px;
  width: 150px; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
